---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="max-w-7xl mx-auto">
		
		<ul role="list" class="grid max-w-xl mx-auto gap-8">
			<Card
			img='https://www.futbolred.com/files/article_main/uploads/2024/09/10/66e0bbd8a8e63.jpeg'
				href="/transition"
				title="Hay palos: convocatoria de Colombia para partidos ante Bolivia y Chile"
				body="Néstor Lorenzo ideó un plan para disputar ambos partidos y entregó un listado de un total de 29 jugadores."
			/>
				
			<Card
			transition:animate="slide"
			img='https://www.infobae.com/resizer/v2/IWTTWJ3Y4BE63F6AGHYUKNNUAQ.jpg?auth=630f482066598342e97a41910a73db3e3f8a2c3f7dbb27ef2ebda109d10fdec2&smart=true&width=992&height=558&quality=85'
				href="/otherPaga"
				title="Descubren el yacimiento de gas natural más grande de Colombia en décadas: el proyecto Sirius tendría reservas para 20 años"
				body="El proyecto, liderado por Ecopetrol y Petrobras, reportó el hallazgo más relevante de gas desde los años 90 en aguas profundas, aunque enfrenta retos judiciales y sociales"
			/>
			<aside transition:name="hero">
				<Card
				img='https://media.cnn.com/api/v1/images/stellar/prod/cnne-1761820-colombianos-petro-libano.jpeg?q=w_1110,c_fill/f_webp'
					href="/name"
					title="Llegan a Bogotá 116 colombianos y extranjeros en un vuelo humanitario desde el Líbano"
					body="(CNN Español) – El avión Boeing 737 de la Fuerza Aérea de Colombia"
				/>
			
		</aside>
		</ul>
	</main>
</Layout>
